:root {
  --active-color: #404bbf;
}

:root {
  --base-color: #2e2f42;
}

:root {
  --iris-color: #4d5ae5;
}

:root {
  --slate-color: #434455;
}

:root {
  --white-color: #ffffff;
}

:root {
  --footer-logo-studio-color: #f4f4fd;
}

:root {
  --footertext-bordercolor-color: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--base-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--active-color);
}

.logo-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--iris-color);
  text-decoration: none;
}

.header-logo-studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--base-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--base-color);
  text-decoration: none;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
  font-style: normal;
  text-decoration: none;
}

.contact:focus,
.contact:hover {
  color: var(--active-color);
}

.filter-item {
  text-decoration-line: none;
}

.marker-non {
  list-style-type: none;
}

.main-section {
  background: var(--base-color);
}

.main-section-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.main-section-launch {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background: var(--iris-color);
  border-radius: 4px;
  border: 1px solid var(--base-color);
  cursor: pointer;
}

.main-section-launch:focus,
.main-section-launch:hover {
  background-color: var(--active-color);
}

.main-section-launch:active {
  color: var(--iris-color);
  background-color: var(--white-color);

  border-radius: 4px;
}

.advantages {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
}

.team-bgd {
  background: var(--footer-logo-studio-color);
}

.hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.hero-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.hero-name-profession {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
}

.filter {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--iris-color);
  background: var(--footer-logo-studio-color);
  border: 1px solid var(--footertext-bordercolor-color);
  border-radius: 4px;
}

.filter:focus,
.filter:hover {
  color: var(--white-color);
  background: var(--active-color);
}

.filter:active {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background: var(--active-color);
}

.filter-buisnes-descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--base-color);
}

.filter-buisnes {
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
}

.footer-bgd {
  background: var(--base-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--footertext-bordercolor-color);
}

.footer-logo-studio {
  color: var(--footer-logo-studio-color);
}
